<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<root>
		<priority value="ERROR, WARN"></priority>
		<appender-ref ref="file"></appender-ref>
		<appender-ref ref="stdout"></appender-ref>
	</root>

	<logger name="cz.casuk">
		<level value="ERROR, WARN"></level>
	</logger>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p %d{yyyy-MM-dd HH:mm:ss} %C{1}:%M(line %L) - %m%n"></param>
		</layout>
	</appender>

	<appender name="file"
		class="org.apache.log4j.appender.TimeAndSizeRollingAppender">
		<param name="File" value="/tmp/casuk/casuk.log" />
		<param name="DateRollEnforced" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxRollFileCount" value="150" />
		<param name="ScavengeInterval" value="30000" />
		<param name="BufferedIO" value="false" />
		<param name="CompressionAlgorithm" value="ZIP" />
		<param name="CompressionMinQueueSize" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p %d{yyyy-MM-dd HH:mm:ss} %C{1}:%M(line %L) - %m%n" />
		</layout>
	</appender>

</log4j:configuration>